container {
    name named {
        allow-host-networks
        description "Bind"
        image "internetsystemsconsortium/bind9:9.18"
        port 53 {
            destination "53"
            listen-address "192.168.66.10"
            protocol "tcp"
            source "53"
        }
        port 53udp {
            destination "53"
            listen-address "192.168.66.10"
            protocol "udp"
            source "53"
        }
        port 953 {
            destination "953"
            listen-address "127.0.0.1"
            protocol "tcp"
            source "953"
        }
        restart "always"
        volume log {
            destination "/var/cache/bind"
            source "/usr/lib/live/mount/persistence/named_log"
        }
        volume persistence {
            destination "/etc/bind"
            source "/usr/lib/live/mount/persistence/nifty-techbook-vol2-named"
        }
    }
    name namedconfig {
        allow-host-networks
        image "10.0.1.50:5000/bind_pull_named_update"
        volume bind {
            destination "/etc/bind"
            source "/usr/lib/live/mount/persistence/nifty-techbook-vol2-named"
        }
        volume git {
            destination "/named_config"
            source "/usr/lib/live/mount/persistence/nifty-techbook-vol2-named"
        }
        volume log {
            destination "/log"
            source "/usr/lib/live/mount/persistence/named_log"
        }
    }
    name updatechk {
        allow-host-networks
        image "10.0.1.50:5000/vyos_post_update"
        volume home {
            destination "/home/vyos/"
            source "/home/vyos/"
        }
    }
}
firewall {
    group {
        address-group 0config {
            address "192.168.0.0-192.168.0.255"
        }
        address-group 201service {
            address "10.0.0.0-10.255.255.255"
        }
        address-group 404local {
            address "192.168.7.0-192.168.7.255"
        }
        address-group 666dmz {
            address "192.168.66.0-192.168.66.255"
        }
        address-group local {
            include "0config"
            include "201service"
            include "404local"
        }
    }
}
interfaces {
    ethernet eth1 {
        address "192.168.66.53/24"
        hw-id "bc:24:11:52:d0:1f"
    }
    loopback lo {
    }
}
protocols {
    static {
        route 0.0.0.0/0 {
            next-hop 192.168.66.254 {
            }
        }
    }
}
service {
    ntp {
        allow-client {
            address "0.0.0.0/0"
            address "::/0"
        }
        server time1.vyos.net {
        }
        server time2.vyos.net {
        }
        server time3.vyos.net {
        }
    }
    snmp {
        community public {
            authorization "ro"
            client "10.0.1.66"
            network "10.0.0.0/8"
        }
        contact "cqa02303@mac.com"
        location "JP, Yokohama"
        trap-target 10.0.1.66 {
            community "public"
        }
    }
    ssh {
        listen-address "192.168.66.53"
    }
}
system {
    config-management {
        commit-archive
        commit-revisions "100"
    }
    conntrack {
        modules {
            ftp
            h323
            nfs
            pptp
            sip
            sqlnet
            tftp
        }
    }
    domain-name "cqa02303.work"
    host-name "ns1"
    login {
        user vyos {
            authentication {
                encrypted-password "$6$rounds=656000$kMrTmDGTHGHZmGQK$hAVreZ8u7/YMAlxtuV0unz2ZfmveolC7X8FbIddUCiShZt.O6nne4ZsfkR0Xrz5pMeQEXulFK3qU8.9d4Wrht."
            }
        }
    }
    name-server "192.168.66.254"
    option {
        performance "latency"
        reboot-on-panic
    }
    syslog {
        global {
            facility all {
                level "info"
            }
            facility local7 {
                level "debug"
            }
        }
    }
    task-scheduler {
        task named_config {
            executable {
                arguments "run --rm --name bindchk --net host -v /usr/lib/live/mount/persistence/nifty-techbook-vol2-named:/nifty-techbook-vol2-named -v /usr/lib/live/mount/persistence/named_config:/etc/bind -v /usr/lib/live/mount/persistence/named_log:/log bind_pull_named_update:latest"
                path "/usr/bin/podman"
            }
            interval "1m"
        }
    }
    time-zone "Asia/Tokyo"
    update-check {
        auto-check
        url "https://raw.githubusercontent.com/vyos/vyos-rolling-nightly-builds/main/version.json"
    }
}


// Warning: Do not remove the following line.
// vyos-config-version: "bgp@5:broadcast-relay@1:cluster@2:config-management@1:conntrack@5:conntrack-sync@2:container@1:dhcp-relay@2:dhcp-server@10:dhcpv6-server@5:dns-dynamic@4:dns-forwarding@4:firewall@14:flow-accounting@1:https@6:ids@1:interfaces@32:ipoe-server@3:ipsec@13:isis@3:l2tp@9:lldp@2:mdns@1:monitoring@1:nat@7:nat66@3:ntp@3:openconnect@2:openvpn@1:ospf@2:pim@1:policy@8:pppoe-server@9:pptp@5:qos@2:quagga@11:rip@1:rpki@2:salt@1:snmp@3:ssh@2:sstp@6:system@27:vrf@3:vrrp@4:vyos-accel-ppp@2:wanloadbalance@3:webproxy@2"
// Release version: 1.5-rolling-202403220018
